<div id="gameTypeSetting" class="settingBox hide" style="padding-top: 20px; display: none;">
	<div class="menuBox noBotBorder">
		<div>请选择活动派奖方式（活动发布后将无法修改）</div>
	</div>
	<div class="menuBox" style="padding:0">
		<div class="setGameTypeBox relative" style="border-bottom: 1px solid #dcdcdc;">
			<div class="iconBox pointer in-bl setGameType checked" style="border-left:none;">
				<div class="iconOuter ">
					<div class="drawIcon icon"></div>
				</div>
				<div class="font">抽奖派发</div>
			</div>
			<!--
			-->
			<div class="iconBox pointer in-bl setGameType">
				<div class="iconOuter disabled">
					<div class="sendIcon icon"></div>
				</div>
				<div class="font">参与送券</div>
			</div>
			<!--
		 -->
			<div class="iconBox pointer in-bl setGameType">
				<div class="iconOuter disabled">
					<div class="rankIcon icon"></div>
				</div>
				<div class="font">按排名派发</div>
			</div>
			<!--
		 -->
			<div class="iconBox pointer in-bl setGameType">
				<div class="iconOuter disabled">
					<div class="regIcon icon"></div>
				</div>
				<div class="font">报名后派发</div>
			</div>
			<div id="gameTypeBot" class="abs" style="border: 1px solid rgb(255, 255, 255); width: 98px; left: 0px;"></div>
		</div>
		<div id="gameTypeDesc" class="tipsColor center">
			<div class="text">顾客完成活动要求后就可获得抽奖机会，中奖率由您设定，每人只可获奖一次。</div>
			<div id="gameTypeDescBorder"></div>
		</div>
		<div id="drawSetBox" class="subTabsettingBox" style="background-color: #fff;">

			<div id="drawInfoBox" class="baseLine1">

				<div style="margin-bottom: 10px;line-height: 30px;">
					<span style="margin-left:20px;margin-right:22px;">总抽奖机会：</span>
					<input type="radio" id="noLimitDrawTimes" name="isLimitDrawTimes" style="margin-left: 10px;" value="false" ng-model="settings.gametypeSetting.isLimitDrawTimes"/>
					<label for="noLimitDrawTimes">不限</label>
					<input type="radio" id="limitDrawTimes" name="isLimitDrawTimes" style="margin-left: 10px;" value="true" ng-model="settings.gametypeSetting.isLimitDrawTimes"/>
					<label for="limitDrawTimes" style="margin-right:0px;">限制</label>
					<span id="setDrawTotalBox" ng-show="settings.gametypeSetting.isLimitDrawTimes == 'true'">
						每人最多有
						<input id="drawTotalTimes" maxlength="2" class="onlyNum" type="text" style="width:30px;" ng-model="settings.gametypeSetting.drawTotalTimes">次</span>
					<div id="drawTotalLimitErr" style="color:red;display:none;margin-left: 118px;">限制总抽奖机会必须大于或等于每日抽奖机会</div>
				</div>

				<span class="flag"></span>
				<span class="baseSettingTitle3">每日抽奖机会：</span>
				每人每日有
				<input id="drawTimesLimit" maxlength="2" class="onlyNum" type="text" style="width:30px;" ng-model="settings.gametypeSetting.drawTimesLimit">
				次抽奖机会
				<span class="flag"></span>
				<span id="drawTimesLimitErr" style="color:red;display:none;margin-left: -13px;">最少1次最多10次</span>

				<div id="prizedTotalBox" class="" style="margin-top: 20px; display: block;">
					<span class="flag"></span>
					<span class="baseSettingTitle3">每人中奖次数：</span>
					每人最多可中奖
					<input id="awardTimesLimit" maxlength="2" class="onlyNum" type="text" style="width:30px;" ng-model="settings.gametypeSetting.awardTimesLimit">
					次
					<span class="flag"></span>
					<span id="awardTimesLimitErr" style="color:red;display:none;margin-left: -13px;">最少1次最多10次</span>
				</div>

				<div style="margin-top: 10px;margin-left: 20px;">
					总中奖率：
					<input id="winningRate" class="input onlyNum input4" type="text" value="30.0"  ng-model="settings.gametypeSetting.winningRate" />
					%
					<span style="display: block;margin-left: 0px; margin-top:8px;" id="winningRateTip" class="g_tip" _expplayer="10">这意味着每10次抽奖3次获奖</span>
				</div>

			</div>
			<div id="openAwardLinkNoDrawBox" class="baseLine1 hide" style="padding-left: 10px; display: none;">
				<span style="margin-right: 4px;" class="powerIcon ver_biz flag"></span>
				<span class="baseSettingTitle">联系兑奖：</span>
				<input type="radio" id="openAwardLinkNoDraw" name="awardLinkNoDraw" disabled="">
				<label for="openAwardLinkNoDraw">开启</label>
				<input type="radio" id="closeAwardLinkNoDraw" name="awardLinkNoDraw" style="margin-left: 10px;" checked="">
				<label for="closeAwardLinkNoDraw" style="margin-right:0">关闭</label>
				<div class="tipsColor" style="margin-left:122px;line-height:20px;">开启后，玩家报名参与抽奖必须填写联系电话</div>
			</div>
		</div>
	</div>
</div>