<div id="moreSetting" class="settingBox hide" style="display: none;">
    <div id="activeTabSubMenu">
        <div class="column">企业信息</div>
        <div class="column">游戏设置</div>
        <div class="column">分享设置</div>

        <div class="slideBar">
            <div class="slideBarTip transitionPanel" style="left: 15px"></div>
        </div>
    </div>
    <div id="footSetting" class="footSetting">
        <div id="companySetBox" class="subTabsettingBox">
            <div class="hostNameWrap baseLine2">
                <div>
                    <span class="flag">*</span>
                    <span class="baseSettingTitle">主办单位：</span>
                    <input type="text" id="hostName" maxlength="24" class="input input1" ng-model="settings.moreSetting.hostName"></div>
                <div class="baseLine1">
                    <span class="flag"></span>
                    <span class="baseSettingTitle">链接地址：</span>
                    <input class="input input1" id="hostLink" type="text" ng-model="settings.moreSetting.hostLink" />
                </div>
            </div>
            <div id="uploadLogoWrap">
                <div class="baseLine1">
                    <span class="flag"></span>
                    <span class="baseSettingTitle">企业Logo：</span>
                    <input id="hideLogo" type="radio" name="isShowLogo" value="false" ng-model="settings.moreSetting.isShowLogo" />
                    <label for="hideLogo">隐藏</label>
                    <input id="showLogo" type="radio" name="isShowLogo" style="margin-left: 10px;" value="true" ng-model="settings.moreSetting.isShowLogo">
                    <label for="showLogo">显示</label>
                </div>
                <div id="uploadLogo" class="menuBox mg110" ng-show="settings.moreSetting.isShowLogo == 'true'">
                    <div ng-model="settings.moreSetting.hostLogo" noneImageUrl="/static/images/nopic.jpg" explain="请上传jpg、png、gif格式的图片" input-uploader></div>
                </div>
            </div>
            <div class="baseLine1">
                <span class="flag"></span>
                <span class="baseSettingTitle">页面加载图片：</span>
                <input id="loadingDef" type="radio" name="loadingStyle" value="default" ng-model="settings.moreSetting.loadingStyle">
                <label for="loadingDef">默认</label>

                <input id="loadingCustom" type="radio" name="loadingStyle" value="custom" ng-model="settings.moreSetting.loadingStyle">
                <label for="loadingCustom">自定义</label>
            </div>
            <div id="loadingCustomBox" class="menuBox mg110" ng-show="settings.moreSetting.loadingStyle == 'custom'">
                <div ng-model="settings.moreSetting.loadingImage" noneImageUrl="/static/images/pic2.jpg" explain="请上传jpg、png、gif格式的图片" input-uploader></div>
            </div>
            <div class="menuBoxWrap baseLine1">
                <div class="baseLine1">
                    <span class="flag"></span>
                    <span class="baseSettingTitle">功能按钮：</span>
                    <input id="closeMenu" type="radio" name="menuStyle" value="hide" ng-model="settings.moreSetting.menuStyle">
                    <label for="closeMenu">隐藏</label>
                    <input id="jumpPage" type="radio" name="menuStyle" value="jump" ng-model="settings.moreSetting.menuStyle">
                    <label for="jumpPage">页面跳转</label>
                    <input id="attention" type="radio" name="menuStyle" value="attention" ng-model="settings.moreSetting.menuStyle">
                    <label for="attention">一键关注</label>
                </div>
                <div id="menuBox" class="menuBox mg110" ng-hide="settings.moreSetting.menuStyle == 'hide'">
                    <div class="baseLine">
                        <span class="flag">*</span>按钮名称：
                        <input type="text" name="menuName" maxlength="5" class="menuName input input2" value="企业官网" ng-model="settings.moreSetting.menuName" ng-show="settings.moreSetting.menuStyle == 'jump'">
                        <input type="text" name="menuName" maxlength="5" class="menuName input input2" value="关注我们" style="margin-left: 12px;" ng-model="settings.moreSetting.menuName" ng-show="settings.moreSetting.menuStyle == 'attention'">
                    </div>

                    <div class="baseLine1" ng-if="settings.moreSetting.menuStyle == 'jump'">
                        <span class="flag" style="width: 12px;"></span>
                        <span id="menuLinkSpan" style="vertical-align: initial;">按钮链接：</span>
                        <input type="text" id="menuLink" class="input" ng-model="settings.moreSetting.qrcodeImage" >
                    </div>

                    <div class="baseLine1" ng-if="settings.moreSetting.menuStyle == 'attention'">
                        <span class="flag" style="width: 12px;"></span>
                        <span id="menuLinkSpan" style="vertical-align: top;">微信公众号：</span>
                        <input type="text" id="menuLink" class="input input2" ng-model="settings.moreSetting.menuLink" style="display:none;">
                        <div id="QRCodeBox">
                            <div ng-model="settings.moreSetting.qrcodeImage" noneImageUrl="/static/images/qrcodeImg.jpg" explain="请上传jpg、png、gif格式的图片" input-uploader></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="gameSetBox" class="subTabsettingBox hide">
            <div class="baseLine1">
                <span style="margin-right: 4px;" class="powerIcon ver_biz flag"></span>
                <span class="baseSettingTitle">页脚广告：</span>
                <input type="radio" id="ShowSkillSup" name="isShowSkillSup" checked="">
                <label for="ShowSkillSup">显示</label>
                <input type="radio" id="hideSkillSup" name="isShowSkillSup" style="margin-left: 10px;" disabled="disabled">
                <label for="hideSkillSup">隐藏</label>
            </div>
            <div class="skillMsg mg110 baseLine tipsColor">隐藏页脚广告为互动商务版功能，保存后可在活动列表中升级该活动</div>

            <div class="baseLine1">
                <span style="margin-right: 4px;" class="powerIcon ver_biz flag"></span>
                <span class="baseSettingTitle">轮播获奖信息：</span>
                <input type="radio" id="openSlide" name="showSlide" disabled="">
                <label for="openSlide">开启</label>
                <input type="radio" id="hideSlide" name="showSlide" checked="checked">
                <label for="hideSlide">关闭</label>
                <div class="introTips" style="margin-left:115px; margin-top:2px; color:#808080; font-size:12px; line-height:22px">
                    有三名以上玩家获奖后，活动首页将轮播展示玩家中奖信息
                    <br>轮播中奖信息为互动商务版功能，保存后可在活动列表中升级该活动</div>
            </div>

        </div>
        <div id="shareSetBox" class="subTabsettingBox hide">
            <div class="baseLine1">
                <span class="flag"></span>
                <span class="baseSettingTitle" style="width:84px; margin-right:6px;">微信分享图标：</span>
                <input id="defWxShare" type="radio" name="wxShare" value="default" ng-model="settings.moreSetting.wxShare">
                <label for="defWxShare">默认</label>
                <input id="cusWxShare" type="radio" name="wxShare" value="custom" ng-model="settings.moreSetting.wxShare">
                <label for="cusWxShare">自定义</label>
            </div>
            <div id="uploadWxShare" class="menuBox mg110" ng-show="settings.moreSetting.wxShare == 'custom'">
                <div ng-model="settings.moreSetting.wxShareImage" noneImageUrl="/static/images/l_zhuanpan.jpg" explain="请上传30K以内，格式为jpg、png、gif的图片" input-uploader></div>
            </div>
            <div class="baseLine1">
                <span class="powerIcon marginLeft7 ver_biz flag"></span>
                <span class="baseSettingTitle" style="width:84px; margin-right:6px;">微信分享内容：</span>
                <input id="defWxShareText" type="radio" name="wxShareText" checked="checked">
                <label for="defWxShareText">默认</label>
                <input id="cusWxShareText" type="radio" name="wxShareText" disabled="">
                <label for="cusWxShareText">自定义</label>
            </div>
            <div id="wxShareTextWrap" class="hide" style="display: none;">

                <div class="mg110 wxShareTextBox hide">
                    <div class="wxShareTextTitelBox" style="color: #555;">
                        <div class="wxShareTextTitel">null</div>
                        <div class="wxShareTextOther" style="border-left:0;" unselectable="on" onmousedown="return false">
                            <span class="insertIco" unselectable="on"></span>
                            插入
                        </div>
                        <div class="tagOptionsBox" style="background-color:#fff"></div>
                    </div>
                    <div class="wxShareTextContent input" style="background-color:#fff" contenteditable="true">
                        ​null
                        <br></div>
                </div>

                <div class="mg110 wxShareTextBox ">
                    <div class="wxShareTextTitelBox" style="color: #555;">
                        <div class="wxShareTextTitel">分享内容（没有获奖的玩家）</div>
                        <div class="wxShareTextOther" style="border-left:0;" unselectable="on" onmousedown="return false">
                            <span class="insertIco" unselectable="on"></span>
                            插入
                        </div>
                        <div class="tagOptionsBox" style="background-color:#fff">

                            <div class="tagOptions" unselectable="on">玩家名称</div>

                        </div>
                    </div>
                    <div class="wxShareTextContent input" style="background-color:#fff" contenteditable="true">
                        ​轻轻松松就能抽到大奖，积攒多年的人品终于有用了，你也赶紧来抽奖吧！！
                        <br></div>
                </div>

                <div class="mg110 wxShareTextBox hide">
                    <div class="wxShareTextTitelBox" style="color: #555;">
                        <div class="wxShareTextTitel">null</div>
                        <div class="wxShareTextOther" style="border-left:0;" unselectable="on" onmousedown="return false">
                            <span class="insertIco" unselectable="on"></span>
                            插入
                        </div>
                        <div class="tagOptionsBox" style="background-color:#fff"></div>
                    </div>
                    <div class="wxShareTextContent input" style="background-color:#fff" contenteditable="true">
                        ​null
                        <br></div>
                </div>

                <div class="mg110 wxShareTextBox ">
                    <div class="wxShareTextTitelBox" style="color: #555;">
                        <div class="wxShareTextTitel">分享内容（获奖的玩家）</div>
                        <div class="wxShareTextOther" style="border-left:0;" unselectable="on" onmousedown="return false">
                            <span class="insertIco" unselectable="on"></span>
                            插入
                        </div>
                        <div class="tagOptionsBox" style="background-color:#fff">

                            <div class="tagOptions" unselectable="on">玩家名称</div>

                            <div class="tagOptions" unselectable="on">奖项等级</div>

                            <div class="tagOptions" unselectable="on">奖品名称</div>

                        </div>
                    </div>
                    <div class="wxShareTextContent input" style="background-color:#fff" contenteditable="true">
                        ​我已经在活动中抽到了奖品，你也快来抽大奖吧！
                        <br></div>
                </div>

                <div id="wxShareWarm" class="hide">注：若奖品名称、奖项等级中含有敏感词如”红包“，分享时系统会自动屏蔽敏感词。</div>
            </div>

            <div id="wxShareWarm2" class="tipsColor">
                注：页面及分享信息请遵守微信朋友圈管理规定，请勿出现违规信息，否则有可能导致活动分享到朋友圈仅自己可见
                <a href="http://hd.faisco.com/news/4454" target="blank" class="tipsColor underline">了解更多</a>
            </div>
        </div>
    </div>
</div>